{% extends 'menu_mania/base.html' %}
{% load humanize %}

{% block content%}
<div class="container">    
<div class="row">
    <div class="col-sm-4 ">
        
        <div class="panel-heading text-center panel-relative">
            <h2>Restaurant Name</h2>
        </div>
        <div class="panel-body">
            <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
            <p class = "text-center price"> $$$$ </p>
            <p class = "text-center my-3"> Asian Cusine </p>
            <p class="text-center"> 321 Maestri Dr. </p>
            <p class="text-center">  4.2/5 </p>
            

            <div class="btn-primary text-center btn-lg">Menu</div>

        </div>
        <div class="panel-footer">
            <p class="text-center"> 10:00 - 22:00 </p>
        </div>
    
    </div>

    <div class="col-sm-4"> 
    
    </div>
    <div class="col-sm-4"> 
    
    </div>
</div>
</div>

<br>

{% endblock %}