{% extends 'menu_mania/base.html' %}
{% load humanize %}

{% block content%}
    <style>
        .btn-primary{

            margin-left: 2rem;
            margin-right: 2rem;
			width: 10rem;
			justify-content: center;
			align-self: center;
        }
    </style>
	<h1 class="heading-restaurant text-center"> Uluc's Restaurant Menu</h1>  

    <div class="container"> 
		<h1 class="text-center" style="margin-bottom: 4rem;">Appetizers</h1>
		<div class="menu-item">
			<div>
				<h4>Lemon-Rosemary Seafood</h4>
				<h5>Seafood / Rosemary / Lemon</h5>
				<h6>$22.99</h6>
			</div>
			<div class="btn btn-primary text-center" style="vertical-align:middle"> Add to Cart</div>
		</div>
		<div class="menu-item">
			<div>
				<h4>Lemon-Rosemary Seafood</h4>
				<h5>Seafood / Rosemary / Lemon</h5>
				<h6>$22.99</h6>
			</div>
			<div class="btn btn-primary text-center" style="vertical-align:middle"> Add to Cart</div>
		</div>
		<hr>
		<h1 class="text-center" style="margin-bottom: 4rem;">Lunch</h1>
		<div class="menu-item">
			<div>
				<h4>Lemon-Rosemary Seafood</h4>
				<h5>Seafood / Rosemary / Lemon</h5>
				<h6>$22.99</h6>
			</div>
			<div class="btn btn-primary text-center" style="vertical-align:middle"> Add to Cart</div>
		</div>
		<div class="menu-item">
			<div>
				<h4>Lemon-Rosemary Seafood</h4>
				<h5>Seafood / Rosemary / Lemon</h5>
				<h6>$22.99</h6>
			</div>
			<div class="btn btn-primary text-center" style="vertical-align:middle"> Add to Cart</div>
		</div>
		<hr>
	</div>
    </div>

    <br>

{% endblock %}