{% extends 'menu_mania/base.html' %}
{% load humanize %}
{% load static %}

{% block content%}
    <style>
        .btn-primary{

            margin-left: 2rem;
            margin-right: 2rem;
			width: 10rem;
			justify-content: center;
			align-self: center;
        }
    </style>
	<h1 class="heading-restaurant text-center"> {{restaurant.name}} Menu</h1>  


    <div class="container"> 
	{% for section in sections%}
		<h1 class="text-center" style="margin-bottom: 4rem;">{{section.title}}</h1>

		{% for dish in section.dishes%}
		<div class="menu-item">
			<div>
				<h4>{{dish.name}}</h4>
				<h5>
					{% for ingredient in dish.ingredients %}
						{{ingredient}}
						{% if forloop.counter != dish.ingredients|length %}
							/
						{% endif %}
					{% endfor %}
				</h5>
				<h6>${{dish.price}}</h6>
			</div>
			<div id="addItem" class="btn btn-primary text-center" style="vertical-align:middle" onClick="addToCart('{{section.title}}','{{dish.name}}','{{dish.price}}', '{{dish.id}}')"> Add to Cart</div>
		</div>
		{% endfor %}
		<hr>
	{% endfor %}

	</div>

    <br>

{% endblock %}

{% block extra_scripts %}
<!-- <script src='{% static "js/menu.js" %}?version=1'></script> -->
{% endblock %}